*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: #434455;
  margin: 0;
  padding: 0;
}

/* reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* common */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link:hover,
  .nav-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;

  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  stroke-width: 1px;
  stroke: #2e2f42;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.nav-link-menu {
  display: flex;
  gap: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 40px;
}

.nav-link-menu.current {
  color: #404bbf;
}

.contacts-list-menu {
  display: flex;
  flex-direction: column-reverse;
  gap: 12px;
}

.contacts-link-menu {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.icons-list-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
  margin-top: 48px;
}

.icon-link-mobile-menu {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-item-mobile-menu {
  width: 40px;
  height: 40px;
  margin-top: 8px;
}

.team-social-mobile-menu {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/*  main */

.title {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/office_mobile.jpg");
}
@media (min-resolution: 2x) {
  .title {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/office_mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .title {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office_tablet.jpg);
  }

  @media (min-resolution: 2x) {
    .title {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/office_tablet@2x.jpg);
    }
  }
}
@media screen and (min-width: 1158px) {
  .title {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office.jpg);
  }

  @media (min-resolution: 2x) {
    .title {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/office@2x.jpg);
    }
  }
}

.title {
  max-width: 100%;
  padding: 112px 20px 112px 20px;
  background-color: #2e2f42;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
}

.title-text {
  margin: 0 auto 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.title-button {
  display: inline-block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .title-text {
    margin: 0 auto 36px;
    font-size: 56px;
    line-height: 1.07;
  }

  .title-button {
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1158px) {
  .title {
    padding: 188px 0;
    background-color: #2e2f42;
  }

  .title-text {
    max-width: 496px;
    margin: 0 auto 48px auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
  }

  .title-button {
    display: block;
    min-width: 169px;
    margin: 0 auto 48px auto;
    height: 56px;
  }

  .title-button:hover,
  .title-button:focus {
    background-color: #404bbf;
  }
}

.container-main {
  padding-left: 16px;
  padding-right: 16px;
}

.main-icons {
  display: none;
}

.main-content {
  padding: 96px 0;
}

.main-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 72px;
}

.main-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.main-content-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .main-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 72px 24px;
    width: 100%;
  }

  .main-item {
    flex-basis: calc((100% - 72px) / 2);
    text-align: center;
  }

  .main-title {
    text-align: left;
  }

  .main-content-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .main-list {
    gap: 24px;
  }

  .main-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .main-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    height: 112px;
    border-radius: 4px;
    background-color: #f4f4fd;
  }

  .main-title {
    font-weight: 500;
    font-size: 20px;
  }

  .main-content-title {
    font-weight: 400;
  }
}

.our-team {
  padding: 96px 0;
  background-color: #f4f4fd;
}

.team-title-first {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  width: 264px;
  height: 428px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
}

.container-workers {
  padding: 32px 0;
}

.icons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 8px;
  gap: 24px;
}

.icons-item {
  width: 40px;
  height: 40px;
  margin-top: 8px;
}

.icon-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .container-team {
    max-width: 768px;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .container-team {
    max-width: 1158px;
  }

  .our-team {
    padding: 120px 0;
    background-color: #f4f4fd;
  }

  .team-list {
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
  }

  .icon-link:hover,
  .icon-link:focus {
    background-color: #404bbf;
  }
}

.overflow-text {
  display: none;
}

.our-portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 48px;
}

.portfolio-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: #2e2f42;
}

.portfolio-work {
  margin-bottom: 72px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-work-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .our-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container-img {
    position: relative;
    overflow: hidden;
  }

  .overflow-text {
    display: block;
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
    color: #f4f4fd;
    background-color: #4d5ae5;
  }

  .portfolio-item {
    box-shadow: none;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover .overflow-text {
    transform: translateY(0%);
  }

  .portfolio-item:hover,
  .portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

.logo-part {
  color: #fff;
}

.page-footer {
  padding: 96px 0;
  background-color: #2e2f42;
  text-align: center;
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 268px;
  margin-bottom: 16px;
}

.footer-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  color: #f4f4fd;
}

.social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #fff;
}

.footer-icon-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-icon-item {
  width: 40px;
  height: 40px;
}

.footer-icon-link {
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #f4f4fd;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 320px;
  align-items: center;
}

.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 16px;
  width: 165px;
  height: 40px;

  border-radius: 4px;
  padding: 8px 24px;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  flex-shrink: 0;
}

.footer-btn-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-left: 16px;
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .container-footer {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form-input {
    flex-direction: row;
  }

  .container-footer {
    flex-direction: row;
    align-items: flex-start;
    padding: 0 40px;
    text-align: left;
  }

  .footer-logo-container {
    align-items: flex-start;
    margin-right: 24px;
    margin-bottom: 72px;
    margin-left: 108px;
  }

  .button-input {
    margin-left: 108px;
  }

  .form-input {
    flex-direction: row;
    justify-content: flex-start;
  }

  .footer-input {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .container-footer {
    align-items: baseline;
  }

  .footer-logo-container {
    margin-right: 120px;
  }

  .footer-icon-link:hover,
  .footer-icon-link:focus {
    background-color: #31d0aa;
  }

  .page-footer {
    padding: 100px 0;
  }

  .footer-btn {
    flex-direction: row;
    min-width: 165px;
  }

  .footer-btn-icon {
    margin-left: 16px;
  }

  .footer-input {
    width: 264px;
    height: 40px;
    font-size: 12px;
  }

  .footer-input::placeholder {
    color: #ffffff;
  }

  .footer-logo-container {
    justify-content: space-between;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .button-input {
    margin-left: 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 288px;
  min-height: 623px;
  padding: 0 16px;

  transform: translate(-50%, -50%);

  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.icon-close {
  width: 8px;
  height: 8px;
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close-btn {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;

  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-modal {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.radio {
  display: flex;
  flex-direction: row-reverse;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.container-form {
  margin-bottom: 8px;
}

.input-modal {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 256px;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-modal {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 256px;
  height: 120px;
  outline: transparent;
  padding: 8px 16px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  background-color: transparent;
}

.modal-btn-send {
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  cursor: pointer;
}

.modal-btn-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  line-height: 1.17;
}

.label-checkbox-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;

  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:checked + .label-checkbox > .privacy-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.modal-btn-icon-checkbox {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.input-wrapper {
  position: relative;
}

.wrapper-checkbox {
  margin-bottom: 24px;
}

.form-textarea {
  margin-bottom: 16px;
}

.label-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-checkbox-text {
  line-height: 1.3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

@media (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
  .textarea-modal {
    width: 360px;
    height: 120px;
  }
  .input-modal {
    width: 360px;
    height: 40px;
  }
}

@media screen and (min-width: 1158px) {
  .icon-close-btn:hover,
  .icon-close-btn:focus {
    background-color: #404bbf;
    border: none;
  }

  .icon-close-btn:hover .icon-close,
  .icon-close-btn:focus .icon-close {
    fill: #fff;
  }

  .input-modal:focus {
    border-color: #4d5ae5;
  }

  .textarea-modal:focus {
    border-color: #4d5ae5;
  }

  .input-wrapper:focus-within .modal-btn-icon {
    fill: #4d5ae5;
  }
}
